.container-home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
}

.container-home .lista-filmes{
    margin: 15px;
}

.container-home .lista-filmes article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
}

.container-home strong{
    margin-bottom: 10px;
    font-size: 20px;
}

.container-home .lista-filmes img{
    width: 800px;
    max-height: 350px;
}

.container-home .lista-filmes a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    text-align: center;
    width: 100%;
    background-color: rgba(74, 168, 90, 0.938);
    padding: 10px 0px;
    border-radius: 0px 0px 10px 10px;
}


